body, h2 {
    margin: 0px;
}
nav {
    background: turquoise;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav h2 {
    display: flex;
    justify-content: center;
}
aside {
    display: inline-flex;
    border-right: 5px solid black;
    height: 800px;
    width: 30%;
    justify-content: start;
    flex-direction: column;
}
aside div{
    margin: 10px;
    border: 2.5px solid grey;
}
h3, p {
    text-align: center;
}
main {
    padding: 20px;
    float: right;
    display: inline-flex;
    flex-direction: column;
    width: 65%;
    height: 800px;
}
input {
    margin: 10px;
    border: none;
}
#title {
    font-size: 300%;
}
#text {
    font-size: 150%;
}